/* a minimalist set of CSS resets */

/* default to border-box */
html {
  /* box-sizing: border-box; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

/* custom stuff below */

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  aspect-ratio: 1;
  max-width: 70vw;
  max-height: 70vh;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: medium gray solid;
  aspect-ratio: 1;
  margin: 10px;
  padding: 10px;
}
