@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:extrabold");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

body {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans, sans-serif;
  background-color: #181810;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: Metal Mania, serif;
  color: #f02820;
  text-shadow: black 5px 5px 5px;
  letter-spacing: 0.1em;
  display: block;
  font-size: 7vmin;
  padding: 0 0 20px 0;
  margin: 0;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  aspect-ratio: 1;
  max-width: 85vw;
  max-height: 75vh;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  aspect-ratio: 1;
  background-color: #ff8c00;
  border: thick black solid;
  border-radius: 0.8vmin;
  margin: 0.1vmin;
  padding: 1.2vmin;
  font-size: 2.5vmin;
  font-weight: 800;
}
